*.hdb  
*.cdb  
*.tdf  
*.ddb  
*.qmsg  
*.hsd  
*.rdb  
*.ammdb  
*.bpm  
*.tdb  
*.hier_info  
*.db_info  
*.hif  
*.idb  
*.ipinfo  
*.kpt  
*.logdb  
*.sci  
*.syn_hier_info  
*.xml  
*.rpt  
*.wlf  
*.sdo  
*.vo  
*.xrf         
*.dbs  
*.psm  
*.qws  
*.sft     
*.qws  
*.sft         
*.qws  
*.sft         
*.qws  
*.sft         
JLinkLog.txt  
*.iex  
*.htm  
*.sct  
*.map  
*.bak  